{% extends 'base.html' %}


{% block content %}

<p> {{ round_num }} </p>
<p> {{ username }} </p>
<p> Прием прогнозов до {{ round_date }} </p>
{% if form %}
<form action="" method="post">
    {{ form.csrf_token }}

    
    <table>
      {% for i in range(h_names|length) %}
      {% set h = h_names[i] %}
      {% set g = g_names[i] %}     
        
        <tr><td>{{ form[h].label }} </td> <td> {{ form[h] }} {{ form[g] }} </td> <td> {{ form[g].label }}</td></tr>
 
      {% endfor %}
    </table>
    
    {{ form.submit}}

  {% endif %}
</form>

{% endblock %}


