{% extends 'base.html' %}


{% block content %}

<p> {{ round_num }} </p>
<p> {{ username }} </p>
<p> Прием прогнозов заканчивается {{ round_date }} </p>
{% if form %}
<form action="" method="post">
    {{ form.csrf_token }}

    
    <table>
           
        <tr><td>{{ form.h_fields0.label }} </td> <td> {{ form.h_fields0 }} {{ form.g_fields0 }} </td> <td> {{ form.g_fields0.label }}</td></tr>
        <tr><td>{{ form.h_fields1.label }} </td> <td> {{ form.h_fields1 }} {{ form.g_fields1 }} </td> <td> {{ form.g_fields1.label }}</td></tr>
        <tr><td>{{ form.h_fields2.label }} </td> <td> {{ form.h_fields2 }} {{ form.g_fields2 }} </td> <td> {{ form.g_fields2.label }}</td></tr>
        <tr><td>{{ form.h_fields3.label }} </td> <td> {{ form.h_fields3 }} {{ form.g_fields3 }} </td> <td> {{ form.g_fields3.label }}</td></tr>
        <tr><td>{{ form.h_fields4.label }} </td> <td> {{ form.h_fields4 }} {{ form.g_fields4 }} </td> <td> {{ form.g_fields4.label }}</td></tr>
        <tr><td>{{ form.h_fields5.label }} </td> <td> {{ form.h_fields5 }} {{ form.g_fields5 }} </td> <td> {{ form.g_fields5.label }}</td></tr>
        <tr><td>{{ form.h_fields6.label }} </td> <td> {{ form.h_fields6 }} {{ form.g_fields6 }} </td> <td> {{ form.g_fields6.label }}</td></tr>
        <tr><td>{{ form.h_fields7.label }} </td> <td> {{ form.h_fields7 }} {{ form.g_fields7 }} </td> <td> {{ form.g_fields7.label }}</td></tr>  

    </table>
    
    {{ form.submit() }}

  {% endif %}
</form>

{% endblock %}


